<nav class="menu">
    <ul>
        <li><img src="logo.png" class="responsive-logo"></li>
        <li><a class="nav_link" href="/">HOME</a></li>
        <li><a class="nav_link" href="/downloads">PDFs gratuits</a></li>
        <li><a class="nav_link" href="/login"><%= login %></a></li>
    </ul>
</nav>

<nav>
    <p class="navBar_date"> Date actuelle: <%= date %> </p>
</nav>